<% content_for :logo do -%>
	<%= t('forums.forums') %>
<% end %>
<h2><%=h "#{@forum.title} (#{@forum.department.short})" %></h2>
<%= link_to t('new.topic'), new_forum_topic_path(@forum) %>
<%= render :partial => 'topics/list' %>
<%= link_to t('new.topic'), new_forum_topic_path(@forum) %>