<ul id="nav_general" class="subnavigation">
	<li><%=t 'blog.archives' %></li>
	<ul id="nav_archives">
	<% 5.times do |t| -%>
		<li><%= link_to (Date.today-t.month).to_s(:archive), blog_path(:year => Date.today.year, :month => (Date.today-t.month).strftime('%m')) %></li>
	<% end %>
		<li><%= link_to Date.today.year, blog_path(:year => Date.today.year) %></li>
		<li><%= link_to (Date.today-1.year).year, blog_path(:year => (Date.today-1.year).year) %></li>
	</ul>
	<li><%= link_to t('list.departments'), departments_path %>
	<li><%= link_to t('list.theses'), theses_path %>
</ul>

<% permitted_to? :create, :articles do %>
<ul id="nav_management" class="subnavigation">
	<li><%= link_to t('new.article'), new_admin_blog_article_path(@blog) %></li>
</ul>
<% end %>