<div class="span-4">
	<div class="<%= current_user.department.short.downcase %> brick">
		<h1><%= current_user.department.short.upcase %></h1>
	</div>
</div>
<div class="span-14">
	<h2><%= t 'blog.header' %></h2>
	
	<% @articles.each do |article| %>
	<h2><%= link_to article.title, blog_article_path(@blog, article) %></h2>
	<div class="article_meta">
		<%=link_to article.user.fullname, article.user %>, <%=t 'support.at' %> <%=h article.updated_at.to_s(:date) %>
	</div>
	<div class="article_content">
		<%= Sanitize.clean(article.content, Sanitize::Config::BASIC) %>
	</div>
	<% end %>
</div>
<div class="span-2 last">&nbsp;</div>