<h2><%=h @bullet.board.lecture.title %></h2>

<div id="bullet" class="span-20">
	<h3><%=h @bullet.title %></h3>
	<div id="bullet_user" class="span-4">
		<%= link_to @bullet.user.name + ' ' + @bullet.user.surname, @bullet.user %><br />
		<%= image_tag @bullet.user.avatar.url(:large)  %>
	</div>
	<div id="bullet_content" class="span-16 last">
		<%= Sanitize.clean(@bullet.content, Sanitize::Config::BASIC) %>
	</div>
	<%= link_to 'Edit', edit_department_lecture_board_bullet_path(@department, @lecture, @board, @bullet) %><br />
</div>

<div class="span-20 prepend-top"><h4>Antworten</h4></div>
<%= render :partial => 'replies/list', :locals => { :replies => @replies } %>

<div class="span-20">
	<h3>Direkt Antworten</h3>
	<%= render :partial => @reply = Reply.new, :locals => { :button_name => 'Create'} %>
</div>