<h2><%= t 'files.area' %></h2>
<% if @folder.lecture.nil? %>
	<h3><%= t 'files.parent' %>: <%= link_to @folder.parent.name, department_lecture_folder_path(@department, @lecture, @folder.parent) %></h3>
	<% else %>
	<h3><%= t 'lectures.lecture' %>: <%=h @folder.lecture.title %></h3>
<% end %>
<h4><%=h @folder.name %></h4>
<h5><%= t 'files.content' %></h5>
<table>
	<thead>
		<tr>
			<th class="accent" width="15">&nbsp;</th>
			<th class="accent"><%= t('files.title') %></th>
			<th class="accent"><%= t('files.size') %></th>
			<th class="accent"><%= t('files.date') %></th>
			<th class="accent"><%= t('files.state') %></th>
			<% permitted_to? :edit, :folders do -%>
				<th class="accent" width="15">&nbsp;</th>
			<% end %>
		</tr>
	</thead>
	<tfoot>
	</tfoot>
	<tbody>
	<% unless @folder.childs.empty? %>
		<% @folder.childs.each do |folder| -%>
			<tr>
				<td><span class="ss_sprite ss_folder">&nbsp;</span></td>
				<td colspan="4"><%= link_to folder.name, department_lecture_folder_path(@department, @lecture, folder) %></td>
				<% permitted_to? :edit, :folders do -%>
					<td><%= link_to t ('delete.delete'), [:admin, @folder], :confirm => 'Are you sure?', :method => :delete, :class => "ss_sprite ss_folder_delete" %></td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
	<% unless @folder.data_items.empty? %>
	
		<%= render :partial => 'data_items/list', :locals => { :data_items => @folder.data_items } %>
	<% end %>
	</tbody>
</table>
<% if @folder.parent.nil? %>
	<%= link_to 'Back', department_lecture_path(@department, @lecture) %>
<% else %>
	<%= link_to 'Back', department_lecture_folder_path(@department, @lecture, @folder.parent) %>
<% end %>