<% content_for :logo do -%>
	<%= t 'blog.article' %>
<% end %>
<span class="beauty_date"><%= @article.updated_at.to_s(:beauty) %></span> <h2 class="noblock"><%=h @article.title %></h2>
</p>
<div class="article_content">
	<%= Sanitize.clean(@article.content, Sanitize::Config::BASIC) %>
</div>
<% permitted_to? :edit, :articles do -%>
<%= link_to t('edit.article'), edit_admin_blog_article_path(@blog, @article) %>
<% end %>