<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Period</th>
    <th>Payment</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%=link_to "#{job.title} #{job.company.name}", job rescue link_to job.title, job %></td>
    <td><strong><%=t 'jobs.prerequisit' %></strong><br /><%=h truncate(strip_tags(job.prerequisit), :length => 100) %><br />
		<strong><%=t 'jobs.description' %></strong><br /><%=h truncate(strip_tags(job.description), :length => 100) %></td>
    <td><%=h job.period %></td>
    <td><%=h job.payment %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>