<%= render :partial => 'user_sessions/login' %>

<h1>Student/LB/Prof/Mitarbeiter</h1>
<% form_for @intern, :create_intern_user do |i| %>
	<%= i.error_messages %>
	<%= i.select :department_id, Department.find(:all).collect {|d| ["#{d.title}", d.id]},{:prompt => t('select.department')} %>
	<br />
	<%= i.label :login %><br />
	<%= i.text_field :login %><br />
	<br />
	<%= i.label :password %><br />
	<%= i.password_field :password %><br />

  <%= i.submit "Register" %>
<% end %>

<h1>Firma/Alumni/...</h1>
<% form_for @extern, :create_extern_user do |e| %>
	<%= e.error_messages %>
	<%= e.label :email %><br />
	<%= e.text_field :email %>
	<br />
	<%= e.label :name %><br />
	<%= e.text_field :name %>
	<br />
	<%= e.label :surname %><br />
	<%= e.text_field :surname %>
	<br />

  <%= e.submit "Register" %>
<% end %>