<%= render :partial => 'user_sessions/login' %>
<hr />
<div class="span-20 prepend-top">
	<div class="span-10">
		<h1>Als Mitglied der Hochschule registrieren</h1>
		<% form_for @intern, :url => create_intern_users_url do |i| %>
			<%= i.error_messages %>
			<%= i.select :department_id, Department.find(:all).collect {|d| ["#{d.title}", d.id]},{:prompt => t('select.department')} %><br />
			<%= i.label :login %><br />
			<%= i.text_field :login %><br />
			<%= i.label :password %><br />
			<%= i.password_field :password %><br />
			<%= i.submit "Register", :class => 'button' %>
		<% end %>
	</div>
	<div class="span-10 append-bottom last">
		<h1>Als Firma oder Alumni registrieren</h1>
		<% form_for @extern, :url => create_extern_users_url do |e| %>
			<%= e.error_messages %>
			<%= e.label :email %><br />
			<%= e.text_field :email %><br />
			<%= e.label :name %><br />
			<%= e.text_field :name %><br />
			<%= e.label :surname %><br />
			<%= e.text_field :surname %><br />
			<%= e.submit "Register", :class => 'button' %>
		<% end %>
	</div>
</div>