<p>
  <b>Title:</b>
  <%=h @department.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @department.description %>
</p>

<p>
  <b>Organization:</b>
  <%=h @department.organization %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>