<h1>New board</h1>

<% form_for([:admin, @board]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lecture %><br />
    <%= f.text_field :lecture %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', boards_path %>