<h1>Editing course_module</h1>

<% form_for([:admin, @course_module]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :short %><br />
    <%= f.text_field :short %>
  </p>
  <p>
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </p>
  <p>
    <%= f.label :semester %><br />
    <%= f.text_field :semester %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @course_module %> |
<%= link_to 'Back', course_modules_path %>