<div class="event" id="event<%= fid %>">
	<p>
		<%= form.label :at_date %><br />
		<%= form.text_field :at_date, :size => 10, :class => "date-picker" %>
	</p>
	<p>
		<%= form.label :room %><br />
		<%= form.select(:room_id, Room.find(:all).collect {|r| ["#{r.building.code} #{r.number}", r.id]}, {:prompt => t('select.room')}) %>
	</p>
	<div class="tabs">
		<ul>
			<li><a href="#tabs-<%= fid %>-1" class="tabbing"><%= t('events.dated') %></a></li>
			<li><a href="#tabs-<%= fid %>-2" class="tabbing"><%= t('events.blocked') %></a></li>
		</ul>
		<div id="tabs-<%= fid %>-1">
			<p>
				<%= form.label :at_time %><br />
				<%= form.time_select :at_time %>
			</p>
			<p>
				<%= form.label :to_date %><br />
				<%= form.text_field :to_date, :size => 10, :class => "date-picker" %>
			</p>
			<p>
				<%= form.label :to_time %><br />
				<%= form.time_select :to_time %>
			</p>
		</div>
		<div id="tabs-<%= fid %>-2">
			<p>
			<%= t 'events.blocks' %> <%= t 'events.from_block' %>: <%= form.text_field :from_block, :size => 1, :value => 2 %>
			<%= t 'events.to_block' %> : <%= form.text_field :to_block, :size => 1, :value => 5 %>
			</p>
			<p>
				<%= form.label :repeatInterval %><br />
				<%= form.text_field :repeatInterval %>
				<%= form.select(:repeatFrequency, ([[t('date.days'), "1"], [t('date.weeks'), "2"], [t('date.months'), "3"]]), {:prompt => t('select.interval')}) %>
			</p>
		</div>
	</div>
	<p>
		<%= form.hidden_field :title, :value => "Veranstaltung" %>
		<% if form.object.is_blocked.nil? %>
			<%= form.hidden_field :is_blocked, :id => "is_blocked_"+fid.to_s, :class => "blocked", :value => false %>
		<% else %>
			<%= form.hidden_field :is_blocked, :id => "is_blocked_"+fid.to_s, :class => "blocked" %>
		<% end %>
	</p>
	<p>			
		<%= remove_link( form, "events" ) %>
	</p>
</div>