<div class="form_container">
	<% form_for([:admin,@lecture]) do |f| %>
		<%= f.error_messages %>

		<p>
			<%= f.label :title %><br />
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :short %><br />
			<%= f.text_field :short %>
		</p>
		<p>
			<%= f.label :description %><br />
			<%= f.tinymce :description %>
		</p>
		<p>
			<%= f.label :visible %> 
			<%= f.check_box :visible %>
			<%= f.label :active %> 
			<%= f.check_box :active %>
		</p>
		<p>
			<%= f.label :credits %><br />
			<%= f.text_field :credits %>
		</p>
		<p>
			<%= f.label :number %><br />
			<%= f.text_field :number %>
		</p>
		<p>
			<%= f.label :department %><br />
			<%= f.select(:department_id, Department.find(:all).collect {|d| ["#{d.title}", d.id]}, {:prompt => t('select.department')}) %>
		</p>
		<p>
			<%= f.label :course_modules %><br />
			<%= select('lecture','course_module_ids', CourseModule.find(:all).collect {|c| ["#{c.title} (#{c.short}, #{c.course.department.title})", c.id]},{:prompt => t('select.course')}, :size => 10, :multiple => "multiple") %>
		</p>
		<p>
			<%= f.label :users %><br />
			<%= select('lecture','user_ids', User.professors.collect {|u| ["#{u.fullname} (#{u.department.short})", u.id]},{:prompt => t('select.supervisor')}, :size => 10, :multiple => "multiple") %>
		</p>
		<hr />
		<div id="events">
			<h2><%= t 'events.title' %></h2>
			<% f.fields_for :events do |e| %>
				<%= render :partial => "event", :locals => {:form => e, :fid => e.id} %>
			<% end %>
		</div>
		<p>
			<%= add_link(f, :events) %>
		</p>
		<p>
			<%= f.submit button_name %>
		</p>
	<% end %>
</div>