  <p>
    <%= f.label :address %><br />
    <%= f.select :address_id, Address.find(:all).collect {|a| ["#{a.full}", a.id]},{:prompt => t('select.address')} %> <%= t 'support.or' %> <%= link_to_remote t('create.address'), :url => { :action => 'reload' }, :complete => visual_effect(:appear, 'new_address', :duration => 0.5) %>
  </p>
	<div id="new_address" style="display: none;">
	<% fields_for @address do |a| %>
		<p>
				<%= a.label :street %><br />
				<%= a.text_field :street %><br />
		</p>
		<p>
			<%= a.label :street_addition %><br />
			<%= a.text_field :street_addition %>
		</p>
		<p>
			<%= a.label :postcode %>, <%= a.label :city %><br />
			<%= a.text_field :postcode, :size => 5 %>
			<%= a.text_field :city %>
		</p>
		<p>
			<%= a.label :state %><br />
			<%= a.text_field :state %>
		</p>
		<p>
			<%= a.label :country %><br />
			<%= a.text_field :country, :size => 20 %>
		</p>
  <% end %>
	</div>
