<% form_for([:admin,@building]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :open_from %><br />
    <%= f.time_select :open_from %>
  </p>
	<p>
		<%= f.label :open_to %><br />
    <%= f.time_select :open_to %>
  </p>
	<p>
		<%= f.label :info %><br />
    <%= f.tinymce :info %>
  </p>
	<%= render :partial => 'addresses/selector', :locals => { :f => f } %>
  <p>
    <%= f.label :organization %><br />
    <%= f.select :organization_id, Organization.find(:all).collect {|o| ["#{o.title}", o.id]} %>
  </p>
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>