<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="content-language" content="DE"/>
		<meta http-equiv="pragma" content="no-cache"/>
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta name="author" content="Patrick Heneise"/>
		<title>insight</title>
		<%= stylesheet_link_tag "hfu", :cache => true %>
		<%= stylesheet_link_tag "blueprint/screen", :cache => true %>
		<%= stylesheet_link_tag "blueprint/plugins/fancy-type/screen", :media => "screen, projection", :cache => true %>
		<%= stylesheet_link_tag "blueprint/plugins/tabs/screen", :media => "screen, projection", :cache => true %>
		<!--[if IE]><%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %><![endif]-->
		<link rel="shortcut icon" href="/favicon.ico" />
		<%= javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min' %>
		<%= javascript_include_tag 'jrails', 'application' %>
		<%= init_tinymce_hammer_if_required %>
    <%= yield(:head) %>
	</head>
	<body>
		<div class="container">
			<%= display_flashes %>
			<div id="header" class="span-24 last">
				<div id="logo" class="span-4"><h1><a href="/"><span>insight</span></a></h1></div>
					<div id="navigation" class="span-20 last">
					<%= navigation [
								:blog, t('application.faculty'),
								:lectures, t('application.lectures'),
								:forums, t('application.forums'),
								:media, t('application.media'),
								:calendar, t('application.calendar'),
								:service, t('application.services'),
								:account, t('application.profile')
								], :link_text => true %>
				</div>
			</div>
			<div id="logo_head" class="span-24 last">
				<div class="span-20">
					<h1><%= yield(:logo) %></h1>
				</div>
				<div class="span-4 last">
					<%= image_tag 'hfu_small.jpg' %>
				</div>
			</div>