	<body>
		<div class="container">
			<div id="header" class="span-24">
				<div id="logo" class="span-4"><h1><a href="/"><span>insight</span></a></h1></div>
					<div id="nav" class="span-20 last">
						<ul class="tabs">
							<li><%= link_to t('application.faculty'), blog_path %></li>
							<li><%= link_to t('application.lectures'), overview_path %></li>
							<li><%= link_to t('application.forums'), forums_path %></li>
							<li><%= link_to t('application.media'), media_path %></li>
							<li><%= link_to t('application.calendar'), calendar_path %></li>
							<li><%= link_to t('application.services'), service_path %></li>
							<li><%= link_to t('application.profile'), account_path %></li>
							<li><%= link_to "Logout", logout_path, {:title => "Logout"}%></li>
						</ul>
				</div>
			</div>
			<%- if flash[:notice] -%>
			<div id="flash" class="span-24">
				<p class="notice"><%= flash[:notice] %></p>
			</div>
			<%- end -%>
			<%- if flash[:error] -%>
			<div id="flash" class="span-24">
				<p class="error"><%= flash[:error] %></p>
			</div>
			<%- end -%>
