<%= render :partial => "layouts/head" %>
<div id="admin_warning" class="span-24"><%=t 'admin.area' %></div>
			<div id="subnav" class="span-4">
				<ul>
					<% permitted_to? :manage, :administration do %>
					<li><%= link_to t('application.administration'), admin_pages_path, :id => "admin" %></li>
					<% end %>
					<% permitted_to? :create, :lectures do -%>
					<li><%= link_to t('create.lecture'), new_admin_lecture_path %></li>
					<% end %>
					<% permitted_to? :manage, :courses do -%>
					<li><%= link_to t('manage.course'), admin_courses_path %></li>
					<% end %>
					<% permitted_to? :create, :forums do -%>
					<li><%= link_to t('create.forums'), new_admin_forum_path %></li>
					<% end %>
				</ul>
			</div>
			<div id="content" class="span-20 last">
				<%= yield %>
			</div>
<%= render :partial => "layouts/foot" %>