<%= render :partial => "layouts/head" %>
			<div id="subnav" class="span-4">
				<%= render :partial => "submenu" rescue '' %>
				<% permitted_to? :manage, :administration do %>
				<%= link_to t('application.administration'), admin_pages_path, :id => "admin" %>
				<% end %>
			</div>
			<div id="content" class="span-20 last">
				<%= yield %>
			</div>
<%= render :partial => "layouts/foot" %>